docutils-code/
.project
.env/
.env2/
.venv/
# Editor backups
*~
.*swp
*.backup
*.DS_Store

# Django
*.db
*.log
*.pot
*.pyc

local_settings.py

# Latex Extensions
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
