{% extends 'socios/form_base.html' %}
{% block navbar-content %}	
	<li class="active"><a href="/">Home</a></li>
	<li><a href="/socios/new">Nuevo Socio</a></li>
	<li class="dropdown">
		<a href='#' class="dropdown-toggle" data-toggle="dropdown">
			Listados
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="/socios/listado">Listado Socios</a>
			</li>
			<li>
				<a href="/socios/listado_economicos">Listado Economico</a>
			</li>	
		</ul>
	</li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>
	<li><a href="/socios/search_familia">Editar Familias</a></li>
	<li><a href="/socios/search">Buscar ID</a></li>
{% endblock %}

{% block form-head %}
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
{% endblock %}
{% block form %}
    {% if prueba %}
    	<ul>
    		{% for r in prueba %}
    			<li><p>{{ r.25 }}</p></li>    		
    		{% endfor %}
    	</ul>
    {% endif %}
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url list %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
{% endblock %}