<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio web para la gestión de grupos Scout">
    <meta name="author" content="Hamilton Steven Cubillos">
    <title>{% block title %} {% endblock %}</title>    
</head>

<body>
    {% block greeting %} {% endblock %}
    <div id="sidebar">
        {% block sidebar %}{% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

