{% extends 'socios/form_base.html' %}
{% block navbar-content %}	
	<li class="active"><a href="/">Home</a></li>
	<li><a href="/socios/new">Nuevo Socio</a></li>
	<li class="dropdown">
		<a href='#' class="dropdown-toggle" data-toggle="dropdown">
			Listados
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="/socios/listado">Listado Socios</a>
			</li>
			<li>
				<a href="/socios/listado_economicos">Listado Economico</a>
			</li>	
		</ul>
	</li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>
	<li><a href="/socios/search_familia">Editar Familias</a></li>
	<li><a href="/socios/search">Buscar ID</a></li>
{% endblock %}

{% block form-head %}
<style type="text/css">
     .centrar{
      	padding-left: 140px;
      }
      .boton_centro_cambio{
      	padding-left: 102px;
      }
</style>
{% endblock %}
{% block title %}It works!{% endblock %}

{% block form %}
<h1>Bienvenido {{ people_name }}</h1>

<p>Cargo: {{cargo}}</p>
<div class="centrar">
	<div class="">
		<a class="btn btn-large btn-primary" href="/socios/new">Nuevo Socio</a>
		<a class="btn btn-large btn-primary" href="/socios/search">Buscar Socio</a>
		<a class="btn btn-large btn-primary" href="/socios/listado">Listado de Socios</a>
		<a class="btn btn-large btn-danger" href="/socios/listado_del">Borrar Socios</a>
	</div>
	<div class="boton_centro_cambio">
		<p> </p>
		<a class="btn btn-large btn-warning" href="/socios/cambio_unidad">Cambio de Unidad</a>
		<a class="btn btn-large btn-success" href="/upload/upload_file">Importar Base de Datos</a>
	</div>
</div>
{% endblock %}
