{% extends 'socios/form_base.html' %}
{% block form-head %}
<style type="text/css">
     .centrar{
      	padding-left: 140px;
      }
</style>
{% endblock %}
{% block title %}It works!{% endblock %}

{% block form %}
<h1>Bienvenido {{ people_name }}</h1>

<p>Cargo: {{cargo}}</p>
<div class="centrar">
	<div class="">
		<a class="btn btn-large btn-primary" href="/socios/new">Nuevo Socio</a>
		<a class="btn btn-large btn-primary" href="/socios/search">Buscar Socio</a>
		<a class="btn btn-large btn-primary" href="/socios/listado">Listado de Socios</a>
		<a class="btn btn-large btn-danger" href="/socios/listado_del">Borrar Socios</a>
	</div>
</div>
{% endblock %}
