<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>GScout</title>
    </head>

    <body>
        <h1>Entrar a GScout</h1>
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %} 
            Nombre de usuario: <input type="text" name="username" value="" size="50" />
            <br />
            Contraseña: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" name="Acceder" value="Acceder" />
        </form>

    </body>
</html>

