{% extends 'base_Gusers.html' %}
{% block page-title %}GSCOUT | REGISTRO{% endblock %}
{% block form-title %}<h2>Registro en GScout</h2>{% endblock %}
{% block form %}
   {% if registered %}
      <p><strong>Gracias por registrarte</strong> {{ user.username }}</p>
      <a href="/">Volver a la página principal.</a><br/>
      {% else %}
         <p>A partir del siguiente formulario se puede <strong>dar de alta en nuestra aplicacición</strong> y disfrutar de los servicios que ofrecemos.</p>
         <p> Haga click <a href="/">aquí</a> para ir a la <strong>página principal</strong>.</p>
         </br>
         <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
               {{ user_form.as_p }}
               {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
               <input type="submit" name="Enviar" value="Enviar" />
           </form>
   {% endif %}
{% endblock %}
