{% extends 'socios/form_base.html' %}
{% block navbar-content %}	
	<li><a href="/">Home</a></li>
	<li><a href="/socios/new">Nuevo Socio</a></li>
	<li class="active"><a href="/socios/listado">Listado Socios</a></li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>	  
	<li><a href="/socios/search">Buscar ID</a></li>
{% endblock %}
{% block form-title %}<h2>Datos Economicos del socio nº {{ economicos.socio_id.n_asociado }}</h2>
<a class="btn btn-large btn-primary" href="/socios/{{ economicos.socio_id.n_asociado }}/personales">Personales</a>
<a class="btn btn-large btn-primary" href="/socios/{{ economicos.socio_id.n_asociado }}/familiares">Familia</a>
<a class="btn btn-large btn-success" href="/socios/{{ economicos.socio_id.n_asociado }}/economicos">Economicos</a>
<a class="btn btn-large btn-primary" href="/socios/{{ economicos.socio_id.n_asociado }}/medicos">Medicos</a>
{% endblock %}
{% block form %}
	<p><strong>Titular de la cuenta: </strong> {{economicos.titular}}</p>
	<p><strong>N.I.F. del Titular: </strong> {{economicos.nif_titular}}</p>
	<p><strong>Banco: </strong> {{economicos.banco}}</p>
	<p><strong>Sucursal: </strong> {{economicos.sucursal}}</p>
	<p><strong>Localidad: </strong> <time>{{economicos.localidad}}</time></p>
	<p><strong>Datos de la cuenta: </strong> {{economicos.d_banco}}-{{economicos.d_sucursal}}-{{economicos.dc}}-{{economicos.n_cuenta}}</p>
	<a class="btn btn-large btn-primary" href="/socios/{{ economicos.socio_id.n_asociado }}/edit_economicos">Editar</a>	
{% endblock %}
