{% extends 'socios/form_base.html' %}
{% block form-title %}<h2>Datos Medicos del socio nº {{ medicos.socio_id.n_asociado }}</h2>
<a class="btn btn-large btn-primary" href="/socios/{{ medicos.socio_id.n_asociado }}/personales">Personales</a>
<a class="btn btn-large btn-primary" href="/socios/{{ medicos.socio_id.n_asociado }}/economicos">Economicos</a>
<a class="btn btn-large btn-primary" href="/socios/{{ medicos.socio_id.n_asociado }}/medicos">Medicos</a>
{% endblock %}
{% block form %}
	<p><strong>Tipo de </strong> {{medicos.ss}}</p>
	<p><strong>Seguro: </strong> {{medicos.smp}}</p>
	<p><strong>Numero de Poliza: </strong> {{medicos.n_poliza}}</p>
	<p><strong>¿Enfermedad?: </strong> {{medicos.enfermedad}}</p>
	<p><strong>¿Cual?: </strong> <time>{{medicos.t_enfermedad}}</time></p>
	<p><strong>¿Enfermedad Cronica, Fisica y/o Psiquica?: </strong> {{medicos.enfermedad_cfp}}</p>
	<p><strong>¿Cual? </strong> {{medicos.t_enfermedad_cfp}}</p>
	<p><strong>¿Operado?: </strong> {{medicos.operado}}</p>
	<p><strong>¿De que?: </strong> {{medicos.t_operado}}</p>
	<p><strong>¿Alergia?: </strong> {{medicos.alergia}}</p>
	<p><strong>¿Cual?: </strong> {{medicos.t_alergia}}</p>
	<p><strong>¿Otras Alergias? </strong> {{medicos.otras_alergias}}</p>
	<p><strong>¿Cuales?: </strong> {{medicos.t_otras_alergias}}</p>
	<p><strong>¿Dieta?: </strong> {{medicos.dieta}}</p>
	<p><strong>Regimen: </strong> {{medicos.t_dieta}}</p>
	<p><strong>¿Toma medicamentos?: </strong> {{medicos.toma_medicamentos}}</p>
	{% if medicos.toma_medicamentos == "si" %}
		<div class="form-personal">
			<table  WIDTH=50%>
				<tr>
					<th><strong>Nombre </strong></th>
					<th><strong>Pauta </strong></th>
					<th><strong>Dosis </strong></th>
				</tr>
			{% for m in medicamentos %}
				<tr>
					<td ALIGN=CENTER><p>{{m.nombre}} </p></td>
					<td ALIGN=CENTER><p>{{m.pauta}} </p></td>
					<td ALIGN=CENTER><p>{{m.dosis}} </p></td>
				</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
	<p><strong>Información adicional: </strong> {{medicos.info_adicional}}</p>
	<a class="btn btn-large btn-primary" href="/socios/{{ medicos.socio_id.n_asociado }}/edit_medicos">Editar</a>	
{% endblock %}
