{% extends 'socios/form_base.html' %}
{% block navbar-content %}	
	<li><a href="/">Home</a></li>
	<li><a href="/socios/new">Nuevo Socio</a></li>
	<li class="active"><a href="/socios/listado">Listado Socios</a></li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>
	<li><a href="/socios/search_familia">Editar Familias</a></li>	
	<li><a href="/socios/search">Buscar ID</a></li>  
{% endblock %}
{% block form-title %}<h2>Datos Personales del socio nº {{ personales.socio_id.n_asociado }}</h2>
<a class="btn btn-large btn-success" href="/socios/{{ personales.socio_id.n_asociado }}/personales">Personales</a>
<a class="btn btn-large btn-primary" href="/socios/{{ personales.socio_id.n_asociado }}/familiares">Familia</a>
<a class="btn btn-large btn-primary" href="/socios/{{ personales.socio_id.n_asociado }}/economicos">Economicos</a>
<a class="btn btn-large btn-primary" href="/socios/{{ personales.socio_id.n_asociado }}/medicos">Medicos</a>
{% endblock %}
{% block form %}
	<p><strong>Nombres: </strong> {{personales.nombre}}</p>
	<p><strong>Apellidos: </strong> {{personales.apellidos}}</p>
	<p><strong>DNI: </strong> {{personales.dni}}</p>
	<p><strong>Sexo: </strong> {{personales.sexo}}</p>
	<p><strong>Fecha de Nacimiento: </strong> <time>{{f_nacimiento}}</time></p>
	<p><strong>Dirección: </strong> {{personales.direccion}}</p>
	<p><strong>Código Postal: </strong> {{personales.c_postal}}</p>
	<p><strong>Localidad: </strong> {{personales.localidad}}</p>
	<p><strong>Provincia: </strong> {{personales.provincia}}</p>
	<p><strong>Tel. Fijo: </strong> {{personales.fijo}}</p>
	<p><strong>Móvil: </strong> {{personales.movil}}</p>
	<p><strong>Fecha de Ingreso: </strong> {{f_ingreso}}</p>
	<p><strong>Fecha de Baja: </strong> {{f_baja}}</p>
	<p><strong>Sección: </strong> {{personales.seccion}}</p>
	<p><strong>Estudios: </strong> {{personales.estudios}}</p>
	<p><strong>Profesión: </strong> {{personales.profesion}}</p>
	<p><strong>Deportes: </strong> {{personales.deportes}}</p>
	<p><strong>Aficiones: </strong> {{personales.aficiones}}</p>
	<a class="btn btn-large btn-primary" href="/socios/{{ personales.socio_id.n_asociado }}/edit_personales">Editar</a>	
{% endblock %}
