{% extends 'socios/form_base.html' %}
{% block navbar-content %}	
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/socios/new">Nuevo Socio</a></li>
	<li ><a href="/socios/listado">Listado Socios</a></li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>	  
	<li><a href="/socios/search">Buscar ID</a></li>
{% endblock %}

			      
{% block form-title %}<h2>Datos Asociados</h2>{% endblock %}
{% block form %}
				<form id="f1" method="post" class="form-horizontal" action="/socios/create_personal/">
					{% csrf_token %}
					{% if errorSocio %} 
						<div class="alert">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  <strong>{{ errorSocio }}</strong>
						</div>
					{% endif %}
					
					<div class="control-group">
						<label class="control-label" for="inputNsocio">Numero de Asociado</label>
						<div class="controls">
						  <input type="text" id="inputNsocio" name="n_asociado" placeholder="Numero de Asociado">
						</div>
					</div>
					<input type="hidden" value="f1" name="form_id" />
					<div class="control-group">
						<div class="controls">
						  <button type="submit" class="btn">Siguiente</button>
						</div>
					</div>	
				</form>				
{% endblock %}