{% extends 'socios/form_base.html' %} 
{% block navbar-content %}	
	<li><a href="/">Home</a></li>
	<li><a href="/socios/new">Nuevo Socio</a></li>
	<li class="active dropdown">
		<a href='#' class="dropdown-toggle" data-toggle="dropdown">
			Listados
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="/socios/listado">Listado Socios</a>
			</li>
			<li>
				<a href="/socios/listado_economicos">Listado Economico</a>
			</li>	
		</ul>
	</li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>
	<li><a href="/socios/search_familia">Editar Familias</a></li>	  
	<li><a href="/socios/search">Buscar ID</a></li>
{% endblock %}
{% block form-title %}<h2>Datos Economicos del socio nº {{ economicos.socio_id.n_asociado }}</h2>{% endblock %}
{% block form %}
				<form  method="post" class="form-horizontal" action="/socios/modify_economicos/">
					{% csrf_token %}
					<input type="hidden" name="socio" value="{{economicos.socio_id.n_asociado}}">
					<div class="control-group">
						<label class="control-label" for="inputTitular">Titular de la cuenta</label>
						<div class="controls">
						  <input type="text" id="inputTitular" name="titular" value="{{economicos.titular}}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputNIF">N.I.F. del titular</label>
						<div class="controls">
						  <input type="text" id="inputNIF" name="nif_titular" value="{{economicos.nif_titular}}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputBanco">Banco o caja</label>
						<div class="controls">
						  <input type="text" id="inputBanco" name="banco" value="{{economicos.banco}}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputSucursal">Sucursal</label>
						<div class="controls">
						  <input type="text" id="inputSucursal" name="sucursal" value="{{economicos.sucursal}}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputLocalidad">Localidad</label>
						<div class="controls">
						  <input type="text" id="inputLocalidad" name="localidad" value="{{economicos.localidad}}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputCCC">Código cuenta corriente (C.C.C.)</label>
						<div class="controls">
						  <input type="text" style="width:60px;" id="inputCCC" name="d_banco" value="{{economicos.d_banco}}">
						  <input type="text" style="width:60px;" name="d_sucursal" value="{{economicos.d_sucursal}}">
						  <input type="text" style="width:30px;" name="dc" value="{{economicos.dc}}">
						  <input type="text" style="width:120px;" name="n_cuenta" value="{{economicos.n_cuenta}}">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
						  <button type="submit" class="btn">Editar</button>
						</div>
					</div>	
				</form>				
{% endblock %}