{% extends 'socios/form_base.html' %}
{% block navbar-content %}	
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/socios/new">Nuevo Socio</a></li>
	<li class="dropdown">
		<a href='#' class="dropdown-toggle" data-toggle="dropdown">
			Listados
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="/socios/listado">Listado Socios</a>
			</li>
			<li>
				<a href="/socios/listado_economicos">Listado Economico</a>
			</li>	
		</ul>
	</li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>
	<li><a href="/socios/search_familia">Editar Familias</a></li>	  
	<li><a href="/socios/search">Buscar ID</a></li>
{% endblock %}
{% block form-title %}<h2>Datos Personales</h2>{% endblock %}
{% block form %}
				<form id="f2" method="post" class="form-horizontal" action="/socios/create_personal/">
					{% csrf_token %}
					<div class="control-group">
						<label class="control-label" for="inputNombre">Nombre</label>
						<div class="controls">
						  <input type="text" id="inputNombre" name="nombre" placeholder="Nombre">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputApellidos">Apellidos</label>
						<div class="controls">
						  <input type="text" id="inputApellidos" name="apellidos" placeholder="Apellidos">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputDNI">DNI</label>
						<div class="controls">
						  <input type="text" id="inputDNI" name="dni" placeholder="DNI">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputSexo">Sexo</label>
						<div class="controls">
						  <select id="inputSexo" name="sexo">
						  	<option value="Hombre">Hombre</option>
						  	<option value="Mujer">Mujer</option> 	
						  </select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputBorn">Fecha de Nacimiento</label>
						<div class="controls">
						  <input type="date" id="inputBorn" name="f_nacimiento">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputDir">Dirección</label>
						<div class="controls">
						  <input type="text" id="inputDir" name="direccion" placeholder="Dirección">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPostal">Código Postal</label>
						<div class="controls">
						  <input type="text" id="inputPostal" name="c_postal" placeholder="Código postal">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputLocalidad">Localidad</label>
						<div class="controls">
						  <input type="text" id="inputLocalidad" name="localidad" placeholder="Localidad">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputProvincia">Provincia</label>
						<div class="controls">
						  <input type="text" id="inputProvincia" name="provincia" placeholder="Provincia">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputFijo">Tel. Fijo</label>
						<div class="controls">
						  <input type="text" id="inputFijo" name="fijo" placeholder="Tel. Fijo">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputMovil">Tel. Móvil</label>
						<div class="controls">
						  <input type="text" id="inputMovil" name="movil" placeholder="Tel. Móvil">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputSeccion">Sección</label>
						<div class="controls">
						  <select id="inputSeccion" name="seccion">
						  	<option value="Manada">Manada</option>
						  	<option value="Tropa">Tropa</option> 
						  	<option selected="selected" value="Esculta">Esculta</option>
						  	<option value="Rover">Rover</option>
						  	<option value="Scouter">Scouter</option>	
						  </select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputEstudios">Estudios</label>
						<div class="controls">
						  <textarea  id="inputEstudios" name="estudios"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputProfesion">Profesión</label>
						<div class="controls">
						  <textarea  id="inputProfesion" name="profesion"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputDeportes">Deportes</label>
						<div class="controls">
						  <textarea  id="inputDeportes" name="deportes"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputAficones">Aficiones</label>
						<div class="controls">
						  <textarea  id="inputAficiones" name="aficiones"></textarea>
						</div>
					</div>
					<input type="hidden" value="f2" name="form_id" />
					<div class="control-group">
						<div class="controls">
						  <button type="submit" class="btn">Siguiente</button>
						</div>
					</div>							
				</form>
{% endblock %}