{% extends 'socios/form_base.html' %}
{% block navbar-content %}	
	<li><a href="/">Home</a></li>
	<li><a href="/socios/new">Nuevo Socio</a></li>
	<li class="active"><a href="/socios/listado">Listado Socios</a></li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>	  
	<li><a href="/socios/search">Buscar ID</a></li>
{% endblock %}
{% block form-head %}
<script src="/static/js/jquery-1.9.1.js" type='text/javascript'></script>           
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen"> 
  
<!-- jQuery -->
	<script src="/static/js/jquery-1.9.1.js" type='text/javascript'></script>  

	<!-- Demo stuff -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">

	<!-- Tablesorter: required for bootstrap -->
	<link rel="stylesheet" href="/static/css/theme.bootstrap.css">
	<script src="/static/js/jquery.tablesorter.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets.js"></script>

	<!-- Tablesorter: optional -->
	<link rel="stylesheet" href="/static/addons/pager/jquery.tablesorter.pager.css">
	<script src="/static/addons/pager/jquery.tablesorter.pager.js"></script>

	<script id="js">$(function() {

	$.extend($.tablesorter.themes.bootstrap, {
		// these classes are added to the table. To see other table classes available,
		// look here: http://twitter.github.com/bootstrap/base-css.html#tables
		table      : 'table table-bordered',
		header     : 'bootstrap-header', // give the header a gradient background
		footerRow  : '',
		footerCells: '',
		icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
		sortNone   : 'bootstrap-icon-unsorted',
		sortAsc    : 'icon-chevron-up',
		sortDesc   : 'icon-chevron-down',
		active     : '', // applied when column is sorted
		hover      : '', // use custom css here - bootstrap class may not override it
		filterRow  : '', // filter row class
		even       : '', // odd row zebra striping
		odd        : ''  // even row zebra striping
	});

	// call the tablesorter plugin and apply the uitheme widget
	$("table").tablesorter({
		theme : "bootstrap", // this will 

		widthFixed: true,

		headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

		// widget code contained in the jquery.tablesorter.widgets.js file
		// use the zebra stripe widget if you plan on hiding any rows (filter widget)
		widgets : [ "uitheme", "filter", "zebra" ],

		widgetOptions : {
			// using the default zebra striping class name, so it actually isn't included in the theme variable above
			// this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
			zebra : ["even", "odd"],

			// reset filters button
			filter_reset : ".reset",

			// set the uitheme widget to use the bootstrap theme class names
			// uitheme : "bootstrap"

		}
	})
	.tablesorterPager({

		// target the pager markup - see the HTML block below
		container: $(".pager"),

		// target the pager page select dropdown - choose a page
		cssGoto  : ".pagenum",

		// remove rows from the table to speed up the sort of large tables.
		// setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
		removeRows: false,

		// output string - default is '{page}/{totalPages}';
		// possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
		output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

	});

});</script>
{% endblock %}
{% block form-title %}<h2>Listado de Socios (Datos Personales)</h2>
{% endblock %}
{% block form %}
	<form method="post"  action="/socios/export/">
		{% csrf_token %}
	<table class="tablesorter">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>DNI</th>
			<th class="filter-select filter-exact" data-placeholder="Todos">Sexo</th>
			<th class="filter-select filter-exact" data-placeholder="Todos">Sección</th>
			<th>F. Nacimiento</th>
			<th>Localidad</th>
			<th>Provincia</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>DNI</th>
			<th>Sexo</th>
			<th>Sección</th>
			<th>F. Nacimiento</th>
			<th>Localidad</th>
			<th>Provincia</th>
		</tr>
		<tr>
			<th colspan="9" class="pager form-horizontal">
				<button class="btn first"><i class="icon-step-backward"></i></button>
				<button class="btn prev"><i class="icon-arrow-left"></i></button>
				<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
				<button class="btn next"><i class="icon-arrow-right"></i></button>
				<button class="btn last"><i class="icon-step-forward"></i></button>
				<select class="pagesize input-mini" title="Select page size">
					<option selected="selected" value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
				</select>
				<select class="pagenum input-mini" title="Select page number"></select>
			</th>
		</tr>
	</tfoot>
	
	<tbody>
		{% for s in socios %}
			<tr><td><a href="/socios/{{ s.socio_id.n_asociado }}/personales">{{s.socio_id.n_asociado}}</a></td><td>{{s.nombre}}</td><td>{{s.apellidos}}</td><td>{{s.dni}}</td><td>{{s.sexo}}</td><td>{{s.seccion}}</td><td>{{s.f_nacimiento}}</td><td>{{s.localidad}}</td><td>{{s.provincia}}</td></tr>
		{% endfor %}
	</tbody>	
	</table>
	<button type="submit" class="btn btn-large btn-primary">Export</button>
	</form>
{% endblock %}