{% extends 'socios/form_base.html' %}
{% block navbar-content %}	
	<li><a href="/">Home</a></li>
	<li><a href="/socios/new">Nuevo Socio</a></li>
	<li class="dropdown">
		<a href='#' class="dropdown-toggle" data-toggle="dropdown">
			Listados
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="/socios/listado">Listado Socios</a>
			</li>
			<li>
				<a href="/socios/listado_economicos">Listado Economico</a>
			</li>	
		</ul>
	</li>
	<li><a href="/socios/listado_del">Borrar Socios</a></li>
	<li><a href="/socios/search_familia">Editar Familias</a></li>
	<li class="active"><a href="/socios/search">Buscar ID</a></li>	  
{% endblock %}
{% block form-title %}<h2>Busqueda de Socio</h2>{% endblock %}
{% block form %}
				<form class="form-search" method="post" action="/socios/search_socio/">
					{% csrf_token %}
					{% if errorNoFound %}
						<div class="alert">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  <strong>{{ errorNoFound }}</strong>
						</div>
					{% endif %} 
				  <input type="text" name="asociado" class="input-medium search-query">
				  <button type="submit" class="btn">Search</button>
				</form>
{% endblock %}